.t{
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    margin-top: 20%;
}

.s{
    margin-top: 100px;
}

.b{
    background-image: url(F09725F6A0F3679927BF3D800FFFC991.jpg);
    background-size: cover;
    width:100%;
    height:auto;
}

.box{
    height:683px;
    background:linear-gradient(to bottom right,rgb(149, 252, 238) 20%,rgb(243, 238, 195) 80%);
}

.button{
    background-color: rgb(231, 83, 90);
    font-size: 30px;
    border-radius: 8px;
    width: 150px;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(212, 21, 78, 0.24),0 17px 50px 0 rgba(64, 194, 13, 0.19);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

#page {
    margin-right: auto;
    margin-left: 100px;
    margin-top: 70px;
    height: 600px;
    width: 1200px;
}

#yard {
    height: 600px;
    width: 800px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;
    float: right;
}

audio{
    display: none;
}

#mark {
    font-weight: 800;
}

#mark_con {
    color: red;
}

a {
    text-decoration: none;
}